{{ define "main" }}
  <div class="projects-page">
    <div class="page-heading">
      <h1 class="{{ .Params.color }}-dots">{{ .Title }}</h1>
      <p>{{ .Summary }}</p>
    </div>
    {{ range .Pages.ByWeight }}
      {{ if eq .Params.accent true }}
        <section class="accent-section {{ .Params.color }}-dashed-border">
          <h3>{{ .Title }}</h3>
          <div>
            {{ if .Params.summary }}
              <p>{{ .Params.summary }}</p>
            {{ else }}
              <p>{{ .Summary }}</p>
            {{ end }}
          </div>
          {{ $image := resources.Get (printf "images/projects/%s" .Params.image) }}
          {{ with $image }}
            <img class="image" src="{{ ( $image.Fill "1064x400 Center" ).RelPermalink }}" atl="{{ .Params.alt }}"/>
          {{ end }}
        </section>
      {{ else }}
        <section class="regular-section {{ .Params.color }}-dashed-border">
          {{ $image := resources.Get (printf "images/projects/%s" .Params.image) }}
          {{ with $image }}
            <img class="image" src="{{ ( $image.Fill "352x352 Center" ).RelPermalink }}" atl="{{ .Params.alt }}"/>
          {{ end }}
          <div>
            <h3>{{ .Title }}</h3>
            {{ if .Params.summary }}
              <p>{{ .Params.summary | truncate 200 }}</p>
            {{ else }}
              <p>{{ .Summary | truncate 200 }}</p>
            {{ end }}
          </div>
        </section>
      {{ end }}
    {{ end }}
  </div>
  {{- partial "tree.html" (dict "context" . "style" .Params.color) -}}
{{ end }}
