[build]
publish = "public"
command = "hugo --gc --minify -b $DEPLOY_PRIME_URL"

[context.branch-deploy]
command = "hugo -b $DEPLOY_URL"

[context.production]
command = "hugo -b $URL"

[[redirects]]
from = "/*"
to = "www.quarteera.de/:splat"
status = 404