$title-font: 'Rubik', sans-serif;
$regular-font: 'Raleway', sans-serif;

$primary-font-color: #201B20;
$background-color: #FAFAF9;
$red: #E44956;
$green: #8DBD56;
$blue: #46AECE;
$purple: #A258AD;
$orange: #E2803C;
$yellow: #EFC725;
