@import 'constants';
@mixin row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

* {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5 {
  font-family: $title-font;
}

body {
  color: $primary-font-color;
  font: 100% $regular-font;

  a {
    margin-right: 1rem;
  }

  .content {
    background-color: $background-color;
    padding: 2rem;

    p {
      padding: 1rem 0;
    }
  }

  .header {
    @include row;
    padding: 2rem;

    ul {
      @include row;
      list-style-type: none;

      li {
        margin-left: 1rem;
      }
    }
  }
}

footer {
  @include row;
  padding: 2rem;

  .footer-section-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}
