@import 'constants';
@mixin row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@mixin center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5 {
  font-family: $title-font;
}

body {
  color: $primary-font-color;
  font: 100% $regular-font;

  .content {
    background-color: $background-color;
    padding: 2rem;

    h1, h2, h3, h4, h5 {
      margin: 1rem 0;
    }

    p, ul {
      line-height: 2rem;
      margin-top: 1rem;
    }

    ul {
      margin-left: 2rem;
    }

    .project {
      a:link { color: $dark-green; }
      a:visited { color: $green; }
      a:hover {
        color: hotpink;
      }

      /* selected link */
      a:active {
        color: blue;
      }

      .article-image { @include center; }
      .logo img {
        border-radius: 50%;
        margin-bottom: 1rem;
        width: 8rem;
        height: 8rem;
        overflow: hidden;
      }
      .project-summary {
        @include row;

        .text {
          margin-left: 2rem;
        }
        .summary {
          font-size: 1.5rem;
        }
      }
    }
  }

  .header {
    @include row;
    padding: 2rem;

    a {
      margin-right: 1rem;
    }

    ul {
      @include row;
      list-style-type: none;

      li {
        margin-left: 1rem;
      }
    }
  }

  footer {
    @include row;
    padding: 2rem;

    .social {
      display: flex;
      align-items: flex-start;

      .inline-svg {
        display: inline-block;
        height: 1.15rem;
        width: 1.15rem;
        top: 0.15rem;
        position: relative;
        margin-left: 2rem;
        color: $primary-font-color;
      }

      .q-svg {
        svg {
          width: auto;
          height: 1.5rem;
          display: inline-block;
        }
      }
    }
  }
}
