<footer>
  <nav>
    {{ $currentPage := . }}
    {{ range .Site.Menus.footer }}
      <a href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
    {{ end }}
  </nav>
  <div class="social">
    <a class="q-svg" href="http://www.quarteera.de" target="_blank">
      {{ readFile ( print "static/q-logo-black.svg" ) | safeHTML  }}
    </a>
    <a class="inline-svg" href="http://t.me/quarteera" target="_blank">
      {{ readFile ( print "static/fontawesome/telegram.svg" ) | safeHTML  }}
    </a>
    <a class="inline-svg" href="http://instagram.com/quarteera" target="_blank">
      {{ readFile ( print "static/fontawesome/instagram.svg" ) | safeHTML  }}
    </a>
    <a class="inline-svg" href="https://www.facebook.com/Quarteera/" target="_blank">
      {{ readFile ( print "static/fontawesome/facebook.svg" ) | safeHTML  }}
    </a>
  </div>
</footer>
