<footer>
  <div class="footer-section-container">
    <a><h3>О нас</h3></a>
    <a>Рабочие группы</a>
  </div>
  <div class="footer-section-container">
    <a><h3>Проекты</h3></a>
    <a>Проект1</a>
    <a>Проект2</a>
    <a >Проект3</a>
  </div>
  <div class="footer-section-container">
    <a>Пресса</a>
  </div>
  <div class="footer-section-container">
    <a><h3>Помочь</h3></a>
    <a>Вступить</a>
    <a>Пожертвовать</a>
    <a>Работа</a>
  </div>
  <div class="footer-section-container">
    <a>Impressum</a>
    <a>Datenschutz</a>
  <div>
</footer>
