$title-font: 'Rubik', sans-serif;
$regular-font: 'Raleway', sans-serif;

$primary-font-color: #201B20;
$background-color: #FAFAF9;
$grey: #E3E3E3;
$dark-grey: #969393;

$blue: #46AECE;
$dark-blue: #2498BC;
$green: #8DBD56;
$dark-green: #74AD34;
$orange: #E2803C;
$dark-orange: #DCB204;
$purple: #A258AD;
$dark-purple: #8B3B97;
$red: #E44956;
$dark-red: #E61425;
$yellow: #EFC725;
$dark-yellow: #DCB204;
