$title-font: 'Rubik', sans-serif;
$regular-font: 'Raleway', sans-serif;

$primary-font-color: #201B20;
$background-color: #FAFAF9;
$grey: #E3E3E3;

$blue: #46AECE;
$green: #8DBD56;
$dark-green: #74AD34;
$orange: #E2803C;
$purple: #A258AD;
$red: #E44956;
$yellow: #EFC725;
