@import 'constants';
@import 'mixins';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.body {
  overflow-x: hidden;
  overflow-y: auto;
}

html {
  font-size: 24px;
}

h1, h2, h3, h4, h5 {
  font-family: $title-font;
  color: $primary-font-color;
  margin-bottom: 1.5rem;
  word-break: break-all;
}

h1 { font-size: 2.75rem; }
h3 { font-size: 1.25rem; }
h4 {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0;
}

a, .desktop-language { cursor: pointer; }
img { border-radius: .25rem; }

.disable { display: none; }
.disable-overflow {
  position: fixed;
  overflow: hidden;
}
.rotate { transform: rotate(180deg); }

.blue-border { border-bottom: 2px solid $blue; }
.green-border { border-bottom: 2px solid $green; }
.orange-border { border-bottom: 2px solid $orange; }
.purple-border { border-bottom: 2px solid $purple; }
.red-border { border-bottom: 2px solid $red; }
.yellow-border { border-bottom: 2px solid $yellow; }

.blue-dashed-border { border: 1px dashed $blue; }
.green-dashed-border { border: 1px dashed $green; }
.orange-dashed-border { border: 1px dashed $orange; }
.red-dashed-border { border: 1px dashed $red; }
.purple-dashed-border{ border: 1px dashed $purple; }
.yellow-dashed-border { border: 1px dashed $yellow; }

.blue-solid-border { border: 1px solid $blue; }
.green-solid-border { border: 1px solid $green; }
.orange-solid-border { border: 1px solid $orange; }
.red-solid-border { border: 1px solid $red; }
.purple-solid-border{ border: 1px solid $purple; }
.yellow-solid-border { border: 1px solid $yellow; }

.blue-dots:after, .blue-dots:before { background: $blue; }
.green-dots:after, .green-dots:before { background: $green; }
.orange-dots:after, .orange-dots:before { background: $orange; }
.red-dots:after, .red-dots:before { background: $red; }
.purple-dots:after, .purple-dots:before { background: $purple; }
.yellow-dots:after, .yellow-dots:before { background: $yellow; }

.blue-dot {
  @include dot;
  background: $blue;
}

.green-dot {
  @include dot;
  background: $green;
}

.orange-dot {
  @include dot;
  background: $orange;
}

.purple-dot {
  @include dot;
  background: $purple;
}

.red-dot {
  @include dot;
  background: $red;
}

.yellow-dot {
  @include dot;
  background: $yellow;
}

.blue-dashed { stroke: $blue; }
.green-dashed { stroke: $green; }
.orange-dashed { stroke: $orange; }
.purple-dashed { stroke: $purple; }
.red-dashed { stroke: $red; }
.yellow-dashed { stroke: $yellow; }

.blue, .green, .orange, .red, .yellow { filter: grayscale(1); }
.purple { filter: hue-rotate(50deg); }

.blue-stroke path {
  fill: $blue;
  stroke: $blue;
}
.green-stroke path {
  fill: $green;
  stroke: $green;
}
.orange-stroke path {
  fill: $orange;
  stroke: $orange;
}
.red-stroke path {
  fill: $red;
  stroke: $red;
}
.purple-stroke path {
  fill: $purple;
  stroke: $purple;
}
.yellow-stroke path {
  fill: $yellow;
  stroke: $yellow;
}

.blue-background-decor {
  background-image: url("/images/background/blue.svg");
  background-repeat: no-repeat;
  background-position: right bottom;
}

.green-background-decor {
  background-image: url("/images/background/green.svg");
  background-repeat: no-repeat;
  background-position: right bottom;
}

.purple-background-decor {
  background-image: url("/images/background/purple.svg");
  background-repeat: no-repeat;
  background-position: right bottom;
}

.yellow-background-decor {
  background-image: url("/images/background/yellow.svg");
  background-repeat: no-repeat;
  background-position: right bottom;
}

.blue-links {
  a:hover, a:active, a:link { color: $dark-blue; }
  a:visited { color: $blue; }
}

.green-links {
  a:hover, a:active, a:link { color: $dark-green; }
  a:visited { color: $green; }
}

.orange-links {
  a:hover, a:active, a:link { color: $dark-orange; }
  a:visited { color: $orange; }
}

.red-links {
  a:hover, a:active, a:link { color: $dark-red; }
  a:visited { color: $red; }
}

.purple-links {
  a:hover, a:active, a:link { color: $dark-purple; }
  a:visited { color: $purple; }
}

.yellow-links {
  a:hover, a:active, a:link { color: $dark-yellow; }
  a:visited { color: $yellow; }
}

.plant {
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: -1;
  margin-left: -29rem;
}

.page-decor {
  position: absolute;
  left: 70%;
  top: 30%;
  z-index: -10;
}

.drawing {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: -1;
  margin-left: 23rem;
  width: 5rem;
}

.buttons-container {
  margin: 2rem 0;
}

.blue-button {
  @include button;
  background-color: $blue;
}
.blue-button:hover { background-color: $dark-blue; }
.purple-button {
  @include button;
  background-color: $purple;
  margin-right: 1rem;
}
.purple-button:hover { background-color: $dark-purple; }

.single-page {
  @include max-width;
  padding: 4rem 2rem;

  .article-image {
    @include center;
    margin-bottom: 2rem;
  }
  .article-logo{ @include center; }
  .article-logo img {
    border-radius: 50%;
    margin-bottom: 1rem;
    width: 8rem;
    height: 8rem;
    overflow: hidden;
  }
}

.form-page {
  max-width: 1024px;
  padding: 4rem 2rem;
}

.main-image {
  border-radius: 50%;
  margin-right: 2rem;
  width: 100%;
  align-self: baseline;
}

.single-page-summary {
  @include row;

  .summary {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
}

.footer-social {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .social {
    margin: 0;
  }
}

.footer-section {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
}

.dots-container { display: none; }

.accent-section {
  @include reset-a-style;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.25rem 3.375rem;
  max-width: 1024px;
  margin-bottom: 1rem;

  img { border-radius: 4px; }
}

.regular-section {
  @include row;
  @include reset-a-style;
  background-color: white;
  max-width: 800px;
  padding: 1rem;
  margin-bottom: 1rem;
  width: 100%;

  h4 { margin-bottom: .5rem; }
  .text { margin-bottom: 0; }
  div {
    @include column;
    margin-left: 1rem;
    justify-content: center;
  }
}

.regular-section-help {
  @include row;
  @include reset-a-style;
  background-color: white;
  max-width: 800px;
  padding: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  align-items: center;

  .text { margin-bottom: 0; }
}

.help-list-icon {
  height: .75rem;
  margin-right: .25rem;
}

.accent-section-mobile, .regular-section-mobile { display: none; }

.menu-item { margin-right: 1rem; }

nav {
  @include max-width;
  @include row;
  align-items: center;
  justify-content: space-between;
}

.home-page-heading { width: 70%; }
.heading-with-dots {
  display: inline-flex;
  align-items: center;
  flex-direction: row-reverse;
  margin-bottom: 1.5rem;

  h1 { margin: 0; }
}
.heading-dots-container { margin-left: 1rem; }
.header-logo { margin: 1rem 0; }
.content {
  background-color: $background-color;
  flex: 1;
  position: relative;
  z-index: 0;

  p, ul {
    line-height: 1.25rem;
    margin-bottom: 1rem;
  }

  ul { margin-left: 2rem; }
}

.partner-logos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  border-radius: 50%;
  margin-bottom: 1rem;
  width: 8rem;
  height: 8rem;
  overflow: hidden;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;

  a { @include reset-a-style; }
}

body {
  @include column;
  color: $primary-font-color;
  font: 100% $regular-font;
  min-height: 100vh;

  .home-page {
    @include max-width;
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
  }

  .projects-page {
    @include max-width;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;

    section {
      background-color: #FFFFFF;
      margin-bottom: 2rem;
      border-radius: 4px;
      width: 100%;
    }
  }

  .image {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
  }

  .page-heading {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1:before {
      @include dot;
      margin-right: .75rem;
    }

    h1:after {
      @include dot;
      margin-left: .75rem;
    }
  }

  .social {
    display: flex;
    align-items: center;
    margin-left: 2rem;

    .inline-svg {
      width: 1rem;
      margin-right: 1rem;
      color: $primary-font-color;
    }
  }

  nav {
    display: flex;
    justify-content: space-between;
    min-height: 6vh;
    width: 100%;
  }

  .header {
    @include row;
    height: auto;

    ul {
      @include row;

      li { list-style: none; }
    }

    .q-svg-header {
      svg {
        width: auto;
        height: 2.75rem;
        display: inline-block;
      }
    }

    .burger {
      display: none;
      cursor: pointer;
    }

    .hamburger-languages { display: none; }
    .language-popup {
      position: absolute;
      top: 3.25rem;
      z-index: 2;
    }
    .desktop-language {
      display: flex;
      align-items: center;

      svg {
        margin-left: .25rem;
      }
    }
  }

  .column { margin-right: 1rem; }

  footer {
    background-color: $grey;
    padding: 2.5rem 2rem;
    z-index: 1;

    a {
      @include reset-a-style;
      margin-bottom: .75rem;
    }

    a:hover, a:active { text-decoration: underline;}
    nav { align-items: baseline; }

    .q-svg-footer {
      svg {
        width: auto;
        height: 1.5rem;
        display: inline-block;
      }
    }
  }
}

.form-section {
  min-width: 70%;
  margin-bottom: 1.75rem;
}

.form {
  margin-top: 2rem;

  label {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: .75rem;
  }

  option { @include inherit-font; }

  .selection1 {
    @include column;
    align-items: baseline;
  }

  .input { @include column; }

  input[type=text], select {
    @include inherit-font;
    padding: .5rem .75rem;
    display: inline-block;
    box-sizing: border-box;
  }

  select { min-width: 50%; }

  input[type=checkbox] {
    @include inherit-font;
    height: 1.5rem;
    width: 1.5rem;
  }

  .checkbox {
    @include column;

    .checkbox-container {
      @include row;
      justify-content: space-between;
      width: 70%;
    }
  }

  a {
    @include button;
    color: white;
    font-family:inherit;
    font-size: inherit;
    margin: 0 0 1rem 0;
  }

  a:hover { color: white; }
}

.calendar {
  height: 50vh;
  border: 1px dotted $grey;
}

@media screen and (max-width:768px) {
  .mobile-blue-background { background: $blue; }
  .mobile-green-background { background: $green; }
  .mobile-orange-background { background: $orange; }
  .mobile-red-background { background: $red; }
  .mobile-purple-background { background: $purple; }
  .mobile-yellow-background { background: $yellow; }
  .blue-border, .green-border, .red-border, .orange-border, .purple-border, .yellow-border { border-bottom: 0px; }
  .accent-section, .regular-section, .plant, .page-decor { display: none; }
  .blue-background-decor, .green-background-decor, .orange-background-decor, .purple-background-decor { display: none; }
  .projects-page { padding-top: 0; }
  .header-logo { margin: 0; }
  .calendar { margin: 1rem; }
  .regular-section-help {
    flex-direction: column;
    margin: 0 1rem 1rem 1rem;
    padding: .5rem;
    width: -webkit-fill-available;
  }
  .form-section { width: 100%; }
  .nav-links {
    @include column;
    position: fixed;
    right: 0px;
    height: 88vh;
    top: 12vh;
    background-color: white;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    overflow: hidden;

    .social {
      padding: .5rem;
      margin: 0;
      width: 100%;
      justify-content: center;
      border-top: 1px solid $grey;
    }

    .main-menu {
      @include column;
      width: 100%;

      .menu-item, .language-selector {
        padding: 1.25rem 0;
        margin-left: 0;
        margin-right: 0;
        display: flex;
        justify-content: center;
      }
    }
  }
  .mobile-language { margin: 0; }
  html {
    font-size: 16px;

    .header {
      padding: 0 1rem;
      height: 12vh;
      width: 100%;

      .burger { display: flex; }
      .desktop-language, .language-popup { display: none; }
      .hamburger-languages { display: flex; }
      .nav-active { transform: translateX(0); }
    }
    .language-selector {
      li {
        padding: 0 1rem;
        margin: 0;
        border-right: 1px solid $primary-font-color;
      }

      li:last-child {
        padding-right: 0;
        border-right: 0px;
      }
    }
    .active-language { text-decoration: underline; }
  }

  nav {
    margin: 0;
    flex-wrap: wrap;
  }
  .footer-section {
    width: 43%;
    margin: 0 0 1rem 0;
  }

  .article-image img { max-width: 100%; }

  .main-image {
    align-self: center;
    width: 70%;
    margin: 0 1rem 1rem 1rem;
  }

  .footer-social {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .q-svg-footer, .social { width: 43%; }
  }

  .single-page-summary {
    flex-direction: column;

    .column {
      @include column;
      align-items: center;
      margin: 0 0 1rem 0;
    }
  }

  .page-heading {
    h1:before, h1:after { background: none; }
    padding: 0 1rem 1rem 1rem;
    width: 100%;
  }

  .regular-section-mobile {
    @include reset-a-style;
    display: block;
    padding: 1rem;
    margin: 0 1rem 1rem 1rem;

    img {
      width: 30%;
      height: 30%;
      margin-right: 1rem;
    }

    div {
      @include row;
      align-items: center;
      margin-bottom: 1rem;
    }
  }

  .accent-section-mobile {
    @include column;
    @include reset-a-style;
    align-items: center;
    padding: 1rem;
    margin: 0 1rem 1rem 1rem;
  }

  .dots-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
    margin: 1rem auto;
    width: 90%;
  }

  .home-page-heading {
    padding: 0 1rem;
    width: 100%;
  }

  .buttons-container {
    @include column;
    align-items: baseline;
  }

  .purple-button { margin-bottom: 1rem; }
  .heading-with-dots {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .heading-dots-container {
    width: 100%;
    margin: 0 0 1rem 0;
    display: flex;
    justify-content: space-between;
  }

  .drawing {
    position: absolute;
    top: 10rem;
    left: 50%;
    z-index: -1;
    margin-left: 6rem;
    width: 5rem;
  }

  .logo { margin-right: 1rem; }
  .partner-logos { margin: 1rem; }
  .page-heading { margin: 1rem 0 .5rem 0; }
}
// disable animation on page load:
// https://stackoverflow.com/questions/22222810/disable-css-transitions-on-page-load-only
.preload * {
 -webkit-transition: none !important;
 -moz-transition: none !important;
 -ms-transition: none !important;
 -o-transition: none !important;
}
