@import 'constants';

@mixin row {
  display: flex;
  flex-direction: row;
}

@mixin column {
  display: flex;
  flex-direction: column;
}

@mixin center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin max-width {
  max-width: 1024px;
  margin: 0 auto;
}

@mixin reset-a-style {
  text-decoration: none;
  color: $primary-font-color;
}

@mixin dot {
  content: "";
  display: inline-block;
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 50%;
  vertical-align: middle;
}

@mixin button {
  color: white;
  padding: .5rem 1.25rem;
  text-decoration: none;
}
