{{ define "main" }}
  <div class="single-page {{ .Params.color }}-links">
    <div class="single-page-summary">
      {{ if and ( isset .Params "image" ) ( ne ( trim .Params.image " " ) "" )  }}
        <div class="column">
          {{ $image := .Resources.GetMatch (.Params.image) }}
          {{ with $image }}
            <img class="main-image" src="{{ ( $image.Fill "405x405 Center" ).RelPermalink }}" alt="{{.Params.alt}}"/>
          {{ end }}
        </div>
      {{ end }}
      <div class="text">
        <h1>{{ .Title }}</h1>
        <p class="summary">{{ .Params.summary }}</p>
          {{ with .Params.buttons }}
          <div class="buttons-container white-links" style="padding: 2rem 0;">
              <center>
                  {{ range . }}
                  <a class="{{ .color | default "default" }}-button"
                  href="{{ .link }}"
                  {{ if .target }}
                  target="{{ .target }}"
                  {{ else if eq .link "external" }}
                  target="_blank"
                  {{ end }}
                  {{ if or (eq .target "_blank") (not .rel) }}
                  rel="{{ .rel | default "noopener noreferrer" }}"
                  {{ else }}
                  rel="{{ .rel }}"
                  {{ end }}>
                  {{ .text }}
                  </a>
                  {{ end }}
              </center>
          </div>
          {{ end }}
      </div>
    </div>
    {{ .Content }}
  </div>
{{ end }}
