{{ define "main" }}
  <div class="projects-page">
    <div class="page-heading">
      {{- partial "dots.html" (dict "context" . "style" .Params.color) -}}
      <h1 class="{{ .Params.color }}-dots">{{ .Title }}</h1>
      <p>{{ .Summary }}</p>
    </div>
    {{ range .Pages.ByWeight }}
      <a href="{{ .Permalink }}"  class="regular-section {{ .Params.color }}-dashed-border">
        {{ if and ( isset .Params "image" ) ( ne ( trim .Params.image " " ) "" )  }}
          {{ $img := .Resources.GetMatch (.Params.image) }}
          {{ with $img }}
            <img class="image" src="{{ ( $img.Fill "352x352 Center" ).RelPermalink }}" atl="{{ .Params.alt }}"/>
          {{ end }}
        {{ end }}
        <div>
          <h4>{{ .Title }}</h4>
          {{ if .Params.summary }}
            <p>{{ .Params.summary | truncate 200 }}</p>
          {{ else }}
            <p>{{ .Summary | truncate 200 }}</p>
          {{ end }}
        </div>
      </a>

      <a href="{{ .Permalink }}"  class="regular-section-mobile {{ .Params.color }}-dashed-border">
        <div>
          {{ if and ( isset .Params "image" ) ( ne ( trim .Params.image " " ) "" )  }}
            {{ $img := .Resources.GetMatch (.Params.image) }}
            {{ with $img }}
              <img class="image" src="{{ ( $img.Fill "352x352 Center" ).RelPermalink }}" atl="{{ .Params.alt }}"/>
            {{ end }}
          {{ end }}
          <h4>{{ .Title }}</h4>
        </div>
        {{ if .Params.summary }}
          <p>{{ .Params.summary | truncate 200 }}</p>
        {{ else }}
          <p>{{ .Summary | truncate 200 }}</p>
        {{ end }}
      </a>
    {{ end }}
  </div>
  {{- partial "tree.html" (dict "context" . "style" .Params.color) -}}
{{ end }}
