{{ define "main" }}
<div class="projects-page">
  <div class="page-heading">
    {{- partial "dots.html" (dict "context" . "style" .Params.color) -}}
    <h1 class="{{ .Params.color }}-dots">{{ .Title }}</h1>
  </div>

  <div class="page-content">
    <p>{{ .Content }}</p>
  </div>

  {{ range .Pages.ByWeight.Reverse }}
    {{ if eq .Params.accent true }}
      <a href="{{ .Permalink }}" class="accent-section {{ .Params.color }}-dashed-border">
        <h3>{{ .Title }}</h3>
        <div>
          {{ if .Params.summary }}
            <p>{{ .Params.summary }}</p>
          {{ else }}
            <p>{{ .Summary }}</p>
          {{ end }}
        </div>
        {{ if and ( isset .Params "image" ) ( ne ( trim .Params.image " " ) "" )  }}
          {{ $image := .Resources.GetMatch (.Params.image) }}
          {{ with $image }}
            <img class="image" src="{{ ( $image.Fill "1064x400 Center" ).RelPermalink }}" alt="{{ .Params.alt }}"/>
          {{ end }}
        {{ end }}
      </a>
      <a href="{{ .Permalink }}" class="accent-section-mobile {{ .Params.color }}-dashed-border">
        <h3>{{ .Title }}</h3>
        {{ if and ( isset .Params "image" ) ( ne ( trim .Params.image " " ) "" )  }}
          {{ $image := .Resources.GetMatch (.Params.image) }}
          {{ with $image }}
            <img class="image" src="{{ ( $image.Fill "285x285 Center" ).RelPermalink }}" alt="{{ .Params.alt }}"/>
          {{ end }}
        {{ end }}
        <div>
          {{ if .Params.summary }}
            <p class="text">{{ .Params.summary }}</p>
          {{ else }}
            <p class="text">{{ .Summary }}</p>
          {{ end }}
        </div>
      </a>
    {{ else }}
      <h3 class="desktop-only">{{ .Title }}</h3>
      {{ if eq .Params.list true }}
        {{ range .Pages.ByWeight }}
          <a href="{{ .Permalink }}" class="regular-list-item {{ .Params.color }}-dashed-border">
            {{ if and ( isset .Params "icon" ) ( ne ( trim .Params.icon " " ) "" )  }}
              {{ $icon := .Resources.GetMatch (.Params.icon) }}
              {{ with $icon }}
                <img class="community-list-icon" src="{{ $icon.RelPermalink }}"/>
              {{ end }}
            {{ end }}
            <h4>{{ .Title }}</h4>
          </a>
        {{ end }}
      {{ else}}
        <a href="{{ .Permalink }}" class="regular-section-community {{ .Params.color }}-dashed-border">
          {{ if and ( isset .Params "image" ) ( ne ( trim .Params.image " " ) "" )  }}
            {{ $image := .Resources.GetMatch (.Params.image) }}
            {{ with $image }}
              <img class="image" src="{{ ( $image.Fill "352x352 Center" ).RelPermalink }}" alt="{{ .Params.alt }}"/>
            {{ end }}
          {{ end }}
          <div>
            {{ if .Params.summary }}
              <p class="text">{{ .Params.summary | truncate 200 }}</p>
            {{ else }}
              <p class="text">{{ .Summary | truncate 200 }}</p>
            {{ end }}
          </div>
        </a>
      {{ end }}
    {{ end }}
  {{ end }}
</div>
{{- partial "tree.html" (dict "context" . "style" .Params.color) -}}
{{ end }}
