{{ $posts := (where .Site.RegularPages.ByDate "Section" "calendar") }}
{{ $futurePosts := (where $posts "Date" ">=" now) }}
{{ $postCount := len $posts }}

{{ if or (eq $futurePosts nil) (lt $futurePosts 1) }}
<div class="calendar">
    <div class="calendar-content">
        <iframe width="680" height="382" src="https://www.youtube-nocookie.com/embed/6CzPvqaBEoE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
    </div>
</div>
{{ else }}
<div class="calendar">
    <div class="calendar-content">
        {{ $limit := .Scratch.Get "calendarLimit" }}

        {{ if lt $limit 4 }}
            <h2>{{ i18n "calendar" }}</h2>
        {{ end }}

        {{ range $index, $page := first $limit $futurePosts }}
        {{ $color := cond (eq $index 0) "red" ( cond (eq $index 1) "orange" (cond (gt $page.Date now) "yellow" "blue") ) }}
        <a href="{{ .Permalink }}">
            <div class="item {{ $color }}-dashed-border">
                <div class="date {{ $color }}-text">
                    <p class="calendar-date">{{ .Params.day }}</p>
                    <p class="calendar-month">{{ .Params.month }}</p>
                </div>
                <div class="details {{ $color }}-dashed-left-border">
                    <h3>{{ .Params.title }}</h3>
                    <div class="time-location {{ $color }}-dashed-top-border">
                        <p>{{ .Params.time }}</p>
                        <p class="{{ $color }}-dashed-bottom-border">{{ .Params.place }}</p>
                    </div>
                </div>
            </div>
        </a>
        {{ end }}

        {{ if and (lt $limit 4) (gt $postCount 3) }}
            {{ $calendarPage := .Site.GetPage "/calendar"  }}
            {{ with $calendarPage }}
              <h4><a href="{{ $calendarPage.RelPermalink }}">{{ i18n "calendar-all" }}</a></h4>
            {{ end }}
        {{ end }}

    </div>
</div>
{{ end }}