<footer class="footer">
    <nav>
        {{ $ignorePage := slice "calendar" "en" "pages" }}
        {{ $sections := (where .Site.Sections "Section" "not in" $ignorePage) }}
        {{ range $sections.ByWeight }}
        <div class="footer-section">
            <a href="{{ .Permalink }}"><h4>{{ .Title }}</h4></a>
            {{ range first 4 .Pages.ByWeight.Reverse }}
            <a href="{{.Permalink}}">{{.Title}}</a>
            {{ end }}
        </div>
        {{ end }}
        <div class="footer-section">
            {{ range .Site.Menus.footer.ByWeight }}
            <a href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
            {{ end }}
        </div>
        <div class="footer-social">
            {{ $homePage := .Site.GetPage "/" }}
            <a class="q-svg-footer" href="{{ with $homePage }}{{ $homePage.Permalink }}{{end}}">
                {{- partial "q-logo-black.html" . -}}
            </a>
            {{- partial "social.html" . -}}
            <a href="mailto:info@quarteera.de">info@quarteera.de</a>
        </div>
    </nav>
</footer>
