<footer class="footer">
  <nav>
    {{ $sections := (where .Site.Sections "Section" "!=" "calendar") }}
    {{ range $sections.ByWeight }}
      <div class="footer-section">
        <a href="{{ .Permalink }}"><h4>{{ .Title }}</h4></a>
        {{ range first 4 .Pages.ByWeight }}
            <a href="{{.Permalink}}">{{.Title}}</a>
        {{ end }}
      </div>
    {{ end }}
    <div class="footer-section">
      {{ range .Site.Menus.footer }}
        <a href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
      {{ end }}
    </div>
    <div class="footer-social">
      {{ $homePage := .Site.GetPage "/" }}
      <a class="q-svg-footer" href="{{ with $homePage }}{{ $homePage.Permalink }}{{end}}">
        {{- partial "q-logo-black.html" . -}}
      </a>
      {{- partial "social.html" . -}}
    </div>
  </nav>
</footer>
