<link rel="shortcut icon" href="/favicon32.png" type="image/png">
<link rel="shortcut icon" href="/favicon64.png" type="image/png">
<link rel="shortcut icon" href="/favicon128.png" type="image/png">
<link rel="canonical" href="https://www.quarteera.de/">
<link rel="alternate" hreflang="x-default" href="https://www.quarteera.de/" />
<link rel="alternate" hreflang="de" href="https://www.quarteera.de/de" />
<link rel="alternate" hreflang="ru" href="https://www.quarteera.de/" />
<meta name="description" content="Quarteera e. V. — это сообщество ЛГБТК+ людей, живущих в Германии и общающихся на русском языке. Наша задача — противодействовать множественной дискриминации квир-людей с миграционным опытом."/>
<meta name="keywords" content="LGBT LGBT+ LGBTIQ LGBT*IQ Menschenrechte Gleichberechtigung Quarteera russischsprachige Migranten Stolz Lesben Schwulen Bisexuelle Transgender Intersex Aktion Demo CSD Marzahn Pride Berlin"/>
<meta property="og:type" content="website"/>
<meta property="og:site_name" content="Quarteera"/>
<meta property="og:description" content="Quarteera e. V. - это сообщество ЛГБТК+ людей, живущих в Германии и общающихся на русском языке. "/>
<meta property="og:title" content="Quarteera e. V."/>
<meta property="og:url" content="https://www.quarteera.de/"/>
<meta property="og:site_name" content="https://www.quarteera.de/"/>
<meta property="og:locale" content="ru_RU"/>
<meta property="og:locale:alternate" content="de_DE" />
<meta property="fb:pages" content="188048734548939"/>
<meta name="robots" content="index, follow">
<meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
<meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
<meta property="og:image" content="https://www.quarteera.de/images/placeholder.png"/>
<meta property="vk:image" content="https://www.quarteera.de/images/placeholder.png">
