<link rel="shortcut icon" href="/favicon32.png" type="image/png">
<link rel="shortcut icon" href="/favicon64.png" type="image/png">
<link rel="shortcut icon" href="/favicon128.png" type="image/png">
<link rel="canonical" href="{{ .Page.Permalink }}">
{{- if .Site.IsMultiLingual -}}
{{ range first 1 .AllTranslations }}
<link rel="alternate" hreflang="x-default" href="{{ .Permalink }}" />
{{- end -}}
{{ range $.Translations }}
<link rel="alternate" hreflang="{{ .Language.LanguageName}}" href="{{ .Permalink }}" />
<meta property="og:locale:alternate" content="{{ if eq .Language.LanguageName "RU" }}ru_RU{{ else }}de_DE{{ end }}"/>
{{- end -}}
{{ end }}
<meta property="og:locale" content="{{ if eq .Language.LanguageName "RU" }}ru_RU{{ else }}de_DE{{ end }}"/>
<meta name="keywords" content="LGBT LGBT+ LGBTIQ LGBT*IQ Menschenrechte Gleichberechtigung Quarteera russischsprachige Migranten Stolz Lesben Schwulen Bisexuelle Transgender Intersex Aktion Demo CSD Marzahn Pride Berlin"/>
<meta property="og:type" content="website"/>
<meta property="og:site_name" content="{{ .Site.Title}} | {{ .Title }}"/>
<meta property="og:title" content="{{ .Site.Title}} | {{ .Title }}"/>
<meta property="og:url" content="{{ .Page.Permalink }}"/>
<meta property="og:site_name" content="{{ .Site.Title}}"/>
{{  if eq .Site.Language.LanguageName "DE" }}
<meta property="og:description" content="Quarteera e. V. - Vereinigung von LGBTQ+ Personen, die in Deutschland leben und Russich sprechen. "/>
<meta name="description" content="Quarteera e. V. — Vereinigung von LGBTQ+ Personen, die in Deutschland leben und Russich sprechen. Unsere Mission — der Diskriminierung von Queeren Personen mit Migrationshintergrund entgegenzuwirken."/>
{{ end }}
{{ if eq .Site.Language.LanguageName "RU" }}
<meta property="og:description" content="Quarteera e. V. - это сообщество ЛГБТК+ людей, живущих в Германии и общающихся на русском языке. "/>
<meta name="description" content="Quarteera e. V. — это сообщество ЛГБТК+ людей, живущих в Германии и общающихся на русском языке. Наша задача — противодействовать множественной дискриминации квир-людей с миграционным опытом."/>
{{ end }}
<meta property="fb:pages" content="188048734548939"/>
<meta name="robots" content="index, follow">
<meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
<meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
<meta property="og:image" content="https://www.quarteera.de/images/placeholder.png"/>
<meta property="vk:image" content="https://www.quarteera.de/images/placeholder.png">
