{{ define "main" }}
<div class="home-page">
    <div class="home-page-heading">
        <div class="heading-with-dots">
            <div class="heading-dots-container">
                <div class="red-dot"></div>
                <div class="orange-dot"></div>
                <div class="yellow-dot"></div>
                <div class="green-dot"></div>
                <div class="blue-dot"></div>
                <div class="purple-dot"></div>
            </div>
            <h1>{{ i18n "header404" }}</h1>
        </div>
        <h2>{{ i18n "maintext404" }}</h2>
        <p>
            {{ i18n "secondtext404" }}
            <a href="#" id="old-site-link">https://old.quarteera.de/link</a>
        </p>
        <div class="buttons-container">
            {{ $joinPage := .Site.GetPage "/community/volunteer" }}
            {{ with $joinPage }}
            <a class="purple-button" href="{{ $joinPage.RelPermalink }}">{{ $joinPage.LinkTitle }}</a>
            {{ end }}
            {{ $donatePage := .Site.GetPage "/community/spenden" }}
            {{ with $joinPage }}
            <a class="blue-button" href="{{ $donatePage.RelPermalink }}">{{ $donatePage.LinkTitle }}</a>
            {{ end }}
            {{ $contactPage := .Site.GetPage "/about/Contact" }}
            {{ with $contactPage }}
            <a class="green-button" href="{{ $contactPage.RelPermalink }}">{{ $contactPage.LinkTitle }}</a>
            {{ end }}
        </div>

        <div class="calendar">
            <div class="calendar-content">
                <h2>{{ i18n "calendar" }}</h2>
                <div id="eventbrite-calendar-app" data-status="live" data-page-size="3" data-sort="asc"></div>

                {{ $calendarPage := .Site.GetPage "/calendar" }}
                {{ with $calendarPage }}
                <h4><a href="{{ $calendarPage.RelPermalink }}">{{ i18n "calendar-all" }}</a></h4>
                {{ end }}

            </div>
        </div>
    </div>
</div>
<div class="random-svg-container" id="random-svg-container"></div>
{{- partial "plant-home.html" . -}}
{{ end }}
