{{ define "main" }}
<div class="projects-page">
  <div class="page-heading">
    {{- partial "dots.html" (dict "context" . "style" .Params.color) -}}
    <h1 class="{{ .Params.color }}-dots">{{ .Title }}</h1>
  </div>

  <div class="page-content">
    <p>{{ .Content }}</p>
  </div>

  <div class="calendar">
    <div class="calendar-content">
      <h2>{{ i18n "calendar" }}</h2>
      <div id="eventbrite-calendar-app" data-status="all" data-page-size="50" data-sort="desc"></div>
      <h4><a href="https://www.eventbrite.de/o/quarteera-e-v-26940024285">{{ i18n "calendar-eventbrite" }}</a></h4>
    </div>
  </div>


</div>
{{- partial "tree.html" (dict "context" . "style" "green") -}}
{{ end }}
