<div class="antisemitism-partners">
    <a class="header-logo" href="https://keshetdeutschland.de/" target="_blank" rel="noopener">
        <img src="/images/projects/antisemitism/Keshet_Logo_quer.png" alt="Keshet Deutschland" height="80" loading="lazy" />
    </a>
    <a class="header-logo" href="https://ofek-beratung.de/" target="_blank" rel="noopener">
        <img src="/images/projects/antisemitism/cropped-ofek_web.png" alt="OFEK e.V." height="80" loading="lazy" />
    </a>
    <a class="header-logo" href="https://www.report-antisemitism.de/" target="_blank" rel="noopener">
        <img src="/images/projects/antisemitism/BV-RIAS_Logo_Blau.png" alt="RIAS" height="80" loading="lazy" />
    </a>
    <a class="header-logo" href="https://www.hilleldeutschland.org/" target="_blank" rel="noopener">
        <img src="/images/projects/antisemitism/Hillel_de_blackY.png" alt="Hillel Deutschland" height="80" loading="lazy" />
    </a>
    <a class="header-logo" href="https://memglobal.org/moishe-house/" target="_blank" rel="noopener">
        <img src="/images/projects/antisemitism/Mem-Global-Stacked-Square.png" alt="Moishe House Germany" height="80" loading="lazy" />
    </a>
</div>